body
{ 
  background-color:#313131;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-full {
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1115%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(49%2c 49%2c 49%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1122' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1122' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1122' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1122' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1122' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1122' x='1440' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1115'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1120'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1117'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1116'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1118'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1119'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1121'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1122'%3e%3cuse xlink:href='%23SvgjsPath1116' x='30' y='30' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='30' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='30' y='150' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='210' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='30' y='270' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='30' y='330' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='30' y='390' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='30' y='450' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='30' y='510' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='570' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='630' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='30' y='690' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='90' y='30' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='90' y='90' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='90' y='150' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='90' y='210' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='90' y='270' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='90' y='330' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='90' y='390' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='90' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='90' y='510' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='90' y='570' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='90' y='630' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='90' y='690' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='150' y='30' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='150' y='150' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='150' y='210' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='270' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='150' y='330' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='150' y='390' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='150' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='150' y='510' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='150' y='570' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='150' y='630' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='150' y='690' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='210' y='30' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='210' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='210' y='150' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='210' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='210' y='270' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='210' y='330' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='390' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='510' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='210' y='570' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='630' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='690' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='270' y='30' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='270' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='270' y='150' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='270' y='210' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='270' y='270' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='270' y='330' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='270' y='390' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='270' y='450' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='270' y='510' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='270' y='570' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='270' y='630' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='270' y='690' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='330' y='30' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='330' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='150' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='210' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='270' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='330' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='330' y='390' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='510' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='330' y='570' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='330' y='630' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='330' y='690' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='30' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='390' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='390' y='150' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='210' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='390' y='270' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='330' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='390' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='390' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='390' y='510' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='390' y='570' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='630' stroke='rgba(187%2c 134%2c 252%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='690' stroke='rgba(29%2c 29%2c 29%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='30' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='150' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='450' y='210' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='450' y='270' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='450' y='330' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='450' y='390' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='450' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='450' y='510' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='450' y='570' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='450' y='630' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='450' y='690' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='510' y='30' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='510' y='150' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='510' y='210' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='510' y='270' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='510' y='330' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='510' y='390' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='510' y='450' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='510' y='510' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='570' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='630' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='510' y='690' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='570' y='30' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='570' y='90' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='570' y='150' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='210' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='570' y='270' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='570' y='330' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='570' y='390' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='570' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='570' y='510' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='570' y='570' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='570' y='630' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='690' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='30' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='90' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='630' y='150' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='630' y='210' stroke='rgba(29%2c 29%2c 29%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='270' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='330' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='630' y='390' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='630' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='630' y='510' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='630' y='570' stroke='rgba(29%2c 29%2c 29%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='630' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='630' y='690' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='690' y='30' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='690' y='90' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='690' y='150' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='690' y='210' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='690' y='270' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='690' y='330' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='690' y='390' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='690' y='450' stroke='rgba(187%2c 134%2c 252%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='690' y='510' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='690' y='570' stroke='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='690' y='630' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='690' y='690' stroke='rgba(187%2c 134%2c 252%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-size: cover;
}

hr.line {
  height: 1px;
  width: 60%;
  margin: 1px;
  margin:auto;
  border: 0.2em solid #bb86fc;
  border-radius: 20px;
  opacity: 100;
}

hr.vertical{
  width : 6px;
  height : 250px;
  opacity: 100%;
}

.alinea{
  text-indent: 10px;
}

.test2{
  background-color: #1d1d1d;
  border: 0px;
}

.pp{
  width :  17em;
  height : 17em;
}

.centerSVG{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.colorSVGIcon{
  fill: white;
}

/* .colorSVGIcon:hover, .iconPresentation:hover{
  fill: #bb86fc;
} */

.vertical-nav{
/* min-width: 7rem;
width: 7rem; */
height: 100vh;
position: fixed;
top: 0;
left: 0;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
transition: all 0.4s;
}

.page-content{
width: calc(100% - 17rem);
margin-left: 17rem;
transition: all 0.4s;
}

.iconPresentation{
  color: white;
}

.textBtn{
  color: white
}

.textBtn:hover{
  --bs-text-opacity: 1;
  color: #bb86fc;
  
}

.themeDetail{
  background-color:#bb86fc;
  border: solid 0em;
}

.themeDetail:hover{
  background-color: #313131;
  outline: 2px solid #bb86fc;
  outline-offset: -2px;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.textMonProjet{
  color: white;
  background-color: #1d1d1d
}

.mb-15{
  margin-bottom: 15em;
}

.bg-couleur-bar{
  background-color: #bb86fc;
}

.bg-couleur-mid{
  background-color: #bb86fc;
}

.bg-couleur-tier{
  background-color: #bb86fc;
}

.pp-desc{
  width :  12em;
  height : 12em;
}

.box:hover {
  animation-name: rotate;
  animation-duration: 1s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blockChainImg {
  width : 20em;
  height : 20em;
}

.btnMore {
  color: white;
  background-color: #1d1d1d;
  border: 2px solid white;
}

.btnMore:hover {
  color:#1d1d1d;
  background-color: white;
  border: 2px solid #1d1d1d;
  outline-offset: -2px ;
}

.text-bg-purple{
  color: white;
  background-color: #bb86fc;
}

.text-purple{
  color: #bb86fc;
}

.text-white{
  color: white;
}

.form-control:focus{
  color: rgb(0, 0, 0);
  background-color: #fff;
  border-color: #bb86fc;
  outline: 0;
  box-shadow: 0 0 0 .25rem #bb86fc65;
}

.btn-purple{
  color: white;
  background-color: #bb86fc;
}

.btn-purple:hover{
  color: #bb86fc;
  background-color: #313131;
  outline: 2px solid #bb86fc;
  outline-offset: -2px;
}

a.text-white:hover{
  color: #bb86fc !important;
}

.bg-veille{
  background-color: #1d1d1d;
}

.colorSVGIcon:hover, .iconPresentation:hover{
  fill: #bb86fc;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active .colorSVGIcon{
  color: black;
  background-color: rgba(226, 0, 0, 0);
  fill: #bb86fc;
}

.nav-link{
  padding : 0em;
}

.verticaltext{
  width: 1px;
  word-wrap: break-word;
  white-space: pre-wrap; 
  font-size: 0.6em;
  color: #3a3a3a;
}

#scrollUp
{
  position: fixed;
  bottom : 2em;
  right: -100px;
}

.example {
  cursor: pointer;
  height: 450px;
  position: relative;
  overflow: hidden;
  width: 300px;
  text-align: center;
}
.example .fadedbox {
  background-color: #bb86fc;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 300px;
  height: 450px;
}
.example:hover .fadedbox {
  opacity: 0.9;
}

.example .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.example .title {
  font-size: 2.5em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.example:hover .title,
.example:focus .title {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.btnMorePy {
  color: #0277bd;
  background-color: white;
  border: 2px solid white;
}

.btnMorePy:hover {
  color: #0277bd;
  background-color: white;
  outline: 2px solid #ffc107;
  outline-offset: -2px;
}

.imgCards{
  max-width : 100%;
  height : auto;
}

.btnMoreLa{
  color: #ff2d20;
  background-color: white;
  border: 2px solid white;
}

.btnMoreLa:hover{
  color: #ff2d20;
  background-color: white;
  outline: 2px solid #6c6b71;
  outline-offset: -2px;
}

.btnMorePHP{
  color: #232531;
  background-color: white;
  border: 2px solid white;
}

.btnMorePHP:hover{
  color: #232531;
  background-color: white;
  outline: 2px solid #8993be;
  outline-offset: -2px;  
}

.btnMoreCs{
  color: #390091;
  background-color: white;
  border: 2px solid white;
}

.btnMoreCs:hover {
  color: #390091;
  background-color: white;
  outline: 2px solid #280068;
  outline-offset: -2px;
}

.btnMoreMa{
  color: #ee8325;
  background-color: white;
  border: 2px solid white;
}

.btnMoreMa:hover {
  color: #ee8325;
  background-color: white;
  outline: 2px solid #a82255;
  outline-offset: -2px;
}

.dropdown .dropdown-toggle::after {
  opacity: 0;
}

.dropdown .dropdown-menu[data-bs-popper]{
  background-color: #1d1d1d;
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: rgba(0, 0, 0, 0);
}

.blockchainTitle{
  font-size: 4em;
  background-image: url(images/Blockchain2.jpg);
  background-size: cover;
}

.ms-10{
  margin-left: 7em;
}

.graphesImg {
  width : 30em;
}

.dropdown .dropdown-menu[data-bs-popper]{
  left: 100% !important;
}

.dropdown-menu {
  transform: translate3d(0.5em, -10.6667px, 0px) !important;
}

.border-purple{
  --bs-border-opacity: 1;
  border-color: #bb86fc !important;
}

.btn-purple-veille{
  color: white;
  background-color: #bb86fc;
}

.btn-purple-veille:hover{
  color: #bb86fc;
  background-color: white;
  outline: 2px solid #bb86fc;
  outline-offset: -2px;
}

.outilVeille{
  background-color: #1d1d1d;
}

.outilsVeilleIcon{
  height: 2em;
}

.row{
  --bs-gutter-x: 0 !important;
}

.mockTitle {
  font-size: 4em;
}
.stagiaireImg{
  width: 20em;
  height: 20em
}

.procedeImg {
  background-color : #1d1d1d
}

.iconQIIS{
  width: 5em;
  height: 5em;
}

.link:hover {
  color: white;
}

.iconFB {
  width: 10em;
  height: 10em;
}

.fbIMG {
  width: 32em;
  height: 20em;
  margin-right: 2em;
}