body
{ 
  background-color:#313131; 
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-full {
  width: 100%;
  height: 100vh;
}

hr.line {
  height:1px;
  width:70%;
  margin:1px;
  margin:auto;
  border: 0.5em solid #0a3d62;
  border-radius: 20px;
  opacity: 100;
}

hr.vertical{
  width : 6px;
  height : 250px;
  opacity: 100%;
}

.alinea{
  text-indent: 10px;
}

.test2{
  background-color: #1d1d1d;
  border: 0px;
}

.pp{
  width :  20em;
  height : 20em;
}

.centerSVG{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.colorSVGIcon{
  fill: white;
}

.colorSVGIcon:hover, .iconPresentation:hover{
  fill: #bb86fc;
}

.vertical-nav{
min-width: 7rem;
width: 7rem;
height: 100vh;
position: fixed;
top: 0;
left: 0;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
transition: all 0.4s;
}

.page-content{
width: calc(100% - 17rem);
margin-left: 17rem;
transition: all 0.4s;
}

.iconPresentation{
  color: white;
}

.textBtn{
  color: white
}

.textBtn:hover{
  --bs-text-opacity: 1;
  color: #bb86fc;
  
}

.themeDetail{
  background-color:#bb86fc;
  border: solid 0em;
}

.themeDetail:hover{
  background-color: white;
  outline: 2px solid #bb86fc;
  outline-offset: -2px;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.textMonProjet{
  color: white;
  background-color: #1d1d1d
}

.my-14{
  margin-top: 14em;
  margin-bottom: 14em;
}

.bg-couleur-bar{
  background-color: #bb86fc;
}

.bg-couleur-mid{
  background-color: #bb86fc;
}

.bg-couleur-tier{
  background-color: #bb86fc;
}

.pp-desc{
  width :  12em;
  height : 12em;
}

.box:hover {
  animation-name: rotate;
  animation-duration: 1s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blockChainImg {
  width : 20em;
  height : 20em;
}

.btnMore {
  color: white;
  background-color: #1d1d1d;
  border: 2px solid white;
}

.btnMore:hover {
  color:#1d1d1d;
  background-color: white;
  border: 2px solid #1d1d1d;
  outline-offset: -2px ;
}

.text-bg-purple{
  color: white;
  background-color: #bb86fc;
}

.text-purple{
  color: #bb86fc;
}

.text-white{
  color: white;
}

.form-control:focus{
  color: #fff;
  background-color: #fff;
  border-color: #bb86fc;
  outline: 0;
  box-shadow: 0 0 0 .25rem #bb86fc4f;
}

.btn-purple{
  color: white;
  background-color: #bb86fc;
}

.btn-purple:hover{
  color: #bb86fc;
  background-color: white;
  outline: 2px solid #bb86fc;
  outline-offset: -2px;
}

a.text-white:hover{
  color: #bb86fc !important;
}

.bg-veille{
  background-color: #1d1d1d;
}


@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

