body
{ 
  background-color:#e6e6e8; 
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-full {
  width: 100%;
  height: 100vh;
}

hr.line {
  height:1px;
  width:70%;
  margin:1px;
  margin:auto;
  border: 0.5em solid #0a3d62;
  border-radius: 20px;
  opacity: 100;
}

.theme{
  background: rgb(240, 7, 7);
  color: black;
  border: 1px solid black;
}

hr.vertical{
  width : 6px;
  height : 250px;
  opacity: 100%;
}

.alinea{
  text-indent: 10px;
}

.test2{
  background-color: #0a3d62;
  border: 0px;
}

.lighThemeText
{
  color: #0a3d62;
}

.lighThemeBack
{
  background-color: #0a3d62;
}

.textLight{
  color: #ef3915
}

.pp{
  width :  20em;
  height : 20em;
}

.centerSVG{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.colorSVGIcon{
  fill: #e6e6e8;
}

.colorSVGIcon:hover, .iconPresentation:hover{
  fill: #ef3915;
}

.vertical-nav{
min-width: 7rem;
width: 7rem;
height: 100vh;
position: fixed;
top: 0;
left: 0;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
transition: all 0.4s;
}

.page-content{
width: calc(100% - 17rem);
margin-left: 17rem;
transition: all 0.4s;
}

.iconPresentation{
  color: black;
}

.textBtn{
  --bs-text-opacity: 1;
  color: #e6e6e8
}

.textBtn:hover{
  --bs-text-opacity: 1;
  color: #0a3d62;
  
}

.themeDetail{
  background-color:#ef3915;
  border: solid 0em;
}

.themeDetail:hover{
  background-color:#e6e6e8;
  outline: 2px solid #0a3d62;
  outline-offset: -2px;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.textMonProjet{
  color: #e6e6e8;
  background-color: #0a3d62
}

.my-14{
  margin-top: 14em;
  margin-bottom: 14em;
}

.bg-couleur-bar{
  background-color: #ef3915;
}

.bg-couleur-mid{
  background-color: #ef3915;
}

.bg-couleur-tier{
  background-color: #ef3915;
}